<h3><h4><em>- You: </em></h4><%= params[:question]%></h3>
<%if params[:question] == "I am going to work"%>
<% @answer = "Great!"%>
<%elsif params[:question].include?("?")%>
<% @answer = "Silly question, get dressed and go to work!."%>
<%else%>
<% @answer = "I don't care, get dressed and go to work!"%>
<%end%>
<h3><h4><em>- Your Coach: </em></h4><%= @answer %></h3>

<p class="mt-5"><%= link_to "Ask another question", root_path %></p>
